<!doctype html>
<title>Me when; when serverr</title>

<html>
    <body>
        <form>
            <select name="action" id="action">
                <option value="create">Create</option>
                <option value="delete">Delete</option>
            </select>
            a
            <select name="type" id="type">
                <option value="minecraft">Minecraft</option>
                <option value="factorio">Factorio</option>
                <option value="terraria">Terraria</option>
                <option value="tf2">Team Fortress 2</option>
            </select>
            server named
            <input type="text" name="name"/></input>
            <input type="submit" value="Submit"></input>
        </form>
    </body>
</html>